<div class="row">
    <div>
        <h3>{{title}}</h3>
        <h5>{{descripcion}}</h5>
    </div>
        <div class="row flex-lg-wrap">
            <div class="card" *ngFor="let e of entrada.listaEntradas" style="width: 18rem;">
                <img class="card-img-top rounded" src="{{e.imagen}}" alt="{{e.entradaName}}">
                <div class="card-body">
                    <h5 class="card-title">{{e.entradaName}}</h5>
                    <p class="card-text">{{e.entradaDescripCorta}}</p>
                </div>
                <div class="card-footer">
                    <a href="/Home/Entradas/{{e.entradaId}}" class="btn btn-primary">Detalles</a>
                </div>
            </div>
    </div>
</div>
